<div class="container-fluid">
  <div class="row loginContainer">
    <div class="col-md-6">
      <img
        src="../../../assets/images/login_img.jpg"
        class="banner-sec"
        alt=""
      />
    </div>
    <div class="col-md-6 login-sec">
      <div class="row">
        <div class="col-11 col-lg-10 mx-auto">
          <form [formGroup]="loginForm">
            <div class="mt-4">
              <h2 class="text-center mt-5">Login</h2>
            </div>
            <div class="mb-3">
              <input
                type="email"
                class="form-control email"
                id="email"
                required=""
                name="password"
                placeholder="Enter Email"
                formControlName="email"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control password"
                id="password"
                required=""
                name="password"
                placeholder="Enter Password"
                formControlName="password"
              />
            </div>
            <div class="row my-4">
              <div class="col">
                <div class="form-check">
                  <input
                    id="remember-me"
                    class="mr-2"
                    name="remember"
                    type="checkbox"
                  />
                  <small for="remember-me">Remember Me</small>
                </div>
              </div>
              <div class="col text-2 text-end">
                <a
                  href=""
                  data-bs-toggle="modal"
                  data-bs-target="#forgot-password-modal"
                  data-bs-dismiss="modal"
                  >Forgot Password ?</a
                >
              </div>
            </div>
            <div class="d-grid my-4">
              <button class="submitButton" type="submit" (click)="login()">
                Login
              </button>
            </div>
          </form>
          <p class="text-2 text-center mb-0">
            <a
              href=""
              data-bs-toggle="modal"
              data-bs-target="#register-modal"
              data-bs-dismiss="modal"
              >Create an account</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
