<div class="container">
    <div class="card">
      <div class="card-header">
        <span class="heading">Login</span>
      </div>
          <form [formGroup]="loginForm">
            <!-- <i class="fa-solid fa-user"></i> -->
            <div class="form-field mt-3" >
              <label for="email">Email</label>
              <input type="email" name="email" id="email" formControlName="email">
            </div>
            <div class="form-field">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" formControlName="password">
            </div>
            <div class="form-field">
              <button type="button" class="submitButton" (click)="login()">Login</button>
            </div>
          </form>
    </div>
  </div>