<button class="button mt-3 mb-2">Long Term Follow-Up</button>

<div class="card mb-5">
    <div class="row text-center p-2">
        <div class="col-4" style="font-weight: bold;">HOOS</div>
        <div class="col-4" style="font-weight: bold;">KOOS</div>
        <div class="col-4" style="font-weight: bold;">PAIN</div>
    </div>
    <div class="row p-2">
        <app-hoos-long class="col-4"></app-hoos-long>
        <app-koos-long class="col-4"></app-koos-long>
        <app-pain-long class="col-4"></app-pain-long>
    </div>
</div>
