<button class="button mt-3 mb-2">Long Term Follow-Up</button>

<div class="card mb-5">
    <div class="row text-center p-2">
        <div class="col-4" style="font-weight: bold;">
            <label for="hoos">HOOS</label>
            <app-aggregatechart class="col-4" id="hoos" [aggregateChartId]="Hoos"></app-aggregatechart>
        </div>
        <div class="col-4" style="font-weight: bold;">
            <label for="hoos">KOOS</label>
            <app-aggregatechart class="col-4" id="koos" [aggregateChartId]="Koos"></app-aggregatechart>
        </div>
        <div class="col-4" style="font-weight: bold;">
            <label for="hoos">PAIN</label>
            <app-aggregatechart class="col-4" [aggregateChartId]="Pain"></app-aggregatechart> 
        </div>
    </div>
</div>
