<div class="container-fluid mt-3 p-0 mb-5">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header CH">
                    <div>
                        <div class="input-group-prepend">
                              <input type="text" name="search" class="form-control" [(ngModel)]="searchText" placeholder="Search Surgeon" autocomplete="off"  >
                        </div>
                      </div>
                </div>
                <div class="card-body CH">
                  <div class="mt-3">
                    <div class="card" style="height: 300px;overflow-y: scroll;background-color: rgb(131, 140, 139);" *ngIf="surgeonList.length >0">
                      <ng-container *ngFor="let data of surgeonList | filter:searchText; let i = index">
                        <div [ngClass]="activeIndex==i ? 'rowCss':''" style="margin: 6px 8px 11px 6px;cursor: pointer;" class="row mb-1" (click)="activeIndex=i;selectedSurgeonId(data)">
                          <div class="col-3">
                            <img [src]="imgsrc" height="50" width="50" class="mt-3" style="border: 3px solid rgb(131, 140, 139);" alt="">
                          </div>
                          <div class="col-9">
                            <p class="fullName">{{data.fullName}}
                              <span ><i class="fa-solid fa-circle-chevron-right float-right mr-2 mt-1" style="color: rgba(247, 150, 4, 0.863); font-size: larger;"></i></span>
                            </p>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
          </div>              
        </div>
        <div class="col-8">
                <div class="card mb-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-2">
                                <img src="../../../../assets/images/profile.jpg" height="75" width="75">
                            </div>
                            <div class="col-5 p-3">
                                <span style="font-weight: bold; font-size: x-large; color: grey;">{{surgeonData.fullName}}</span> <br>
                                <span style="font-weight: bold;font-size: large; color: #f8a62b;">OrthoPedic Surgeon</span>
                            </div>
                            <div class="col-5 p-3">
                                <div class="row mb-2" >
                                    <span  style="font-weight: bolder;color: #f8a62b;font-size: larger;">NPI :{{surgeonData.surgeonNpi}} </span>
                                </div>
                                <div class="row mb-2" >
                                    <!-- <span class="col-6" style="font-weight: bolder;">DOS  </span> -->
                                    <span style="font-weight: 600;font-size: larger;">Joint Replacement Specialist</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <app-charts [selectedAssesment]="selectedAssesment" [surgeonData]="surgeonData"></app-charts>
        </div>
    </div>
</div>