<div class="container-fluid mt-3 p-0">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header CH">
                    <div>
                        <div class="input-group-prepend">
                            <input type="search" class="form-control" placeholder="Search Patient" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div>
                </div>
                <div class="card-body CH">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
        </div>
        <div class="col-8">
                <div class="card">
                    <div class="card ">
                  <div class="d-flex justify-content-around ">
                        <img src="./assets/Images/header Logo.jpg"  height="50px" width="50px"  alt="profile">
                        <span  >
                            <span >Dr.Robert Peterson</span>
                            <p class="text-warning">Orthopedic Surgeon</p>
                        </span>
                        <span>
                            <span class="text-warning">NPI:4525652425</span>
                            <p >Joint Replacement Specialist</p>
                        </span>
                        <span>
                        </span>
                  </div>
                </div>
                <button class="button mt-3 mb-2 ms-3">Case Volume </button>
                <app-casevolume class="p-2"></app-casevolume>
                <button class="button mt-3 mb-2 ms-3">Hoos</button> 
                <app-hoos class="p-2"></app-hoos>   
                   
                </div>
           
        </div>
    </div>
</div>