<div class="container-fluid mt-3 p-0">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header CH">
                    <div>
                        <div class="input-group-prepend">
                            <input type="search" class="form-control" placeholder="Search Patient" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div>
                </div>
                <div class="card-body CH">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
        </div>
        <div class="col-8">
                <div class="card mb-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-2">
                                <img src="../assets/Images/header Logo.jpg" height="75" width="75">
                            </div>
                            <div class="col-5 p-3">
                                <span style="font-weight: bold; font-size: x-large; color: grey;">Mr. Robert Peterson</span> <br>
                                <span style="font-weight: bold;font-size: large; color: #f8a62b;">OrthoPedic Surgeon</span>
                            </div>
                            <div class="col-5 p-3">
                                <div class="row mb-2" >
                                    <span  style="font-weight: bolder;color: #f8a62b;font-size: larger;">NPI : 4525652425 </span>
                                </div>
                                <div class="row mb-2" >
                                    <!-- <span class="col-6" style="font-weight: bolder;">DOS  </span> -->
                                    <span style="font-weight: 600;font-size: larger;">Joint Replacement Specialist</span>
                                </div>
                            </div>
                        </div>
                    </div>
                <button class="button mt-3 mb-2 ms-3">Case Volume </button>
                <app-casevolume class="p-2"></app-casevolume>
                <button class="button mt-3 mb-2 ms-3">Hoos</button> 
                <app-hoos class="p-2"></app-hoos>   
                   
                </div>
           
        </div>
    </div>
</div>