.container{
    height: calc(100% - 100px);
    position: relative;
}
.btn-light{
    border-radius: 0;
    background-color:white ;
    color: #646464;
    border: 1px solid;
}
.active1{
      border-radius: 0;
    background-color: #646464;
    color: white;
    border: 1px solid;
}
:host ::ng-deep ng-multiselect-dropdown {
    min-width: 22rem;
    max-width: 22rem;
}
.alignment{
    display: flex;
    justify-content: center;
    align-items: center;
}
::ng-deep .cdk-overlay-container{
    z-index: 1030 !important;
}
::ng-deep.mat-dialog-container{
    padding: 7px;
}
::ng-deep.cdk-overlay-pane{
    min-width: 27rem !important
}
::ng-deep .headerpop .closebtn{display: block !important;}
:host>>>.dropdown-list{
    position: fixed !important;
    width: auto !important;
}
::ng-deep .dx-list-item{       text-overflow: initial !important;
}
::ng-deep .dx-list-item-content{      text-overflow: inherit !important;
    white-space: pre-wrap !important;}
.w-70{
    width: 3rem;
}
.cur-pointer{
    cursor: pointer;
}
.modal-header{
    background: rgb(196, 169, 79);
    color: #fff;
}
.m-r-3{
    margin-right: .7rem;
}
nav.navbar .user-size.dropdown-menu {
    min-width: 250px;
    overflow: hidden;
}
::ng-deep .irs .irs-from, ::ng-deep .irs .irs-to{
    font-size: 11px !important;
    display: none;
}
::ng-deep .irs:hover .irs-from, ::ng-deep .irs:hover .irs-to{
    display: block;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .welcome-text{
    font-size: 26px !important;
}
::ng-deep .previewli .tooltip{min-width: 150px !important;}
::ng-deep .irs-from, ::ng-deep .irs-to{    background-color: #5a98e3;
    border-top: 1px solid #5a98e3;box-shadow: none !important;
}
::ng-deep .irs-from:before, ::ng-deep .irs-to:before{    border-top-color: #5a98e3;
}
::ng-deep .irs-slider{    background-color: #4f84c4;box-shadow: none !important;
}
::ng-deep .irs .irs-to:after{transition: border-top-color .2s;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid;
    border-top-color: #5a98e3;}
    ::ng-deep .comparediv .to,::ng-deep .comparediv .from{pointer-events: none !important;}
    ::ng-deep .irs-slider.state_hover,::ng-deep .irs-slider:hover{background-color: #5a98e3;}
::ng-deep .irs .irs-min,::ng-deep .irs .irs-max, ::ng-deep .irs .irs-from, ::ng-deep .irs .irs-to{visibility:visible !important}
::ng-deep .irs .irs-min:before, ::ng-deep .irs .irs-min:before{display: none !important;}
nav.navbar .dropdown-menu {
    right: 0;
    min-width: 300px;
    left: auto;
    margin-top: 0;
    padding: 0;
    max-width: 400px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
.period-dropdown.active{
    color: white;
    background-color: #4f84c4;
}
::ng-deep .results pre {
    max-height: 200px !important;
}

.dropdown-menu.show {
    display: block;
}

/*::ng-deep .dx-popup-wrapper > .dx-overlay-content{
   width: 200px !important;
  }*/
nav.navbar .user-size.dropdown-menu li.welcome {
    width: 150px;
    margin: 0 auto;
    padding: 1.4rem 0;
    position: relative;
}

nav.navbar .user-size.dropdown-menu li.welcome a.edit-profil {
    position: absolute;
    background: #fff;
    font-size: 1.6rem;
    border-radius: 50%;
    right: 20px;
    bottom: 10px;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 0;
}

nav.navbar .user-size.dropdown-menu li.welcome img {
    display: block;
    width: 80px;
    height: 70px;
    margin: 0 auto 10px;
}

.rounded-circle {
    border: 0.2rem solid #258cbe !important;
    max-width: 70px !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #101010;
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: 0.9rem !important;
}

.user-size i {
    font-size: 19px !important;
    margin-right: 10px !important;
}

#color-hint {
    background: linear-gradient(gray, white);
}

.navbar-dropdown {
    top: inherit !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown.period {
    min-width: -webkit-fill-available !important;
}
.period-dropdown {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #1F1F1F;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.period-dropdown:hover{
    color: white;
    background-color: #4f84c4;
}
.period-dropdown:active {
    color: white;
    background-color: #4f84c4;
  }
.icon-calendar,
.icon-calendar:before {
    content: "\e075";
  }

  .back-to-top {
    position: fixed;
    display: none;
    background: #ff5700;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 2.5rem;
    font-size: 16px;
    border-radius: 50%;
    right: 50%;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  ::ng-deep .multiselect-dropdown .dropdown-btn{    font-size: 12px !important;
  }
  .back-to-bottom {
    position: fixed;
    display: none;
    background: #ff5700;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 2.5rem;
    font-size: 16px;
    border-radius: 50%;
    right: 50%;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  ::ng-deep .modal-open .modal{    overflow-y: inherit !important;
  }
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
  @media print {
    ::ng-deep .doNotPrint {
      display: none !important;
    }
    * {
      -webkit-print-color-adjust: exact;
    }
    @page {
      margin: 0 !important;
      size: A4 Landscape !important;
      -webkit-print-color-adjust: exact;
    }
    html,
    body {
      margin: 0 !important;
      size: A4 Landscape !important;
      -webkit-print-color-adjust: exact;
    }
    ::ng-deep .fixed-top {
      position: relative !important;
    }
    ::ng-deep .navbar .navbar-menu-wrapper .navbar-nav .nav-item:last-child{display: block !important;}
    ::ng-deep .navbar .navbar-menu-wrapper .navbar-nav .nav-item .welcome-text{font-size: 15px !important;    line-height: 36px !important;
    }
    ::ng-deep .navbar .navbar-menu-wrapper .navbar-nav .nav-item .welcome-sub-text{font-size: 13px !important;}
    ::ng-deep  .content-wrapper{    margin-top: 0px !important;
    }
    ::ng-deep app-percentagecard .d-none{display: inline-block !important;}
    ::ng-deep .plinechartsec{margin-top: 200px !important;width: 60% !important}
    ::ng-deep .plinechartsec canvas{width: 100% !important;}
    ::ng-deep .pdonutsec{margin-top: 200px !important;    width: 40% !important;
   }
    ::ng-deep .ptblsec{margin-top: 130px !important;}
    ::ng-deep th {
      font: bold 10px sans-serif;
      white-space: nowrap;
    }
    ::ng-deep .per{    padding: 10px 3px !important;    min-width: 30px;
    }
    ::ng-deep td {
      font: 10px sans-serif;
    }
   ::ng-deep .doprint{display: table !important;}
    ::ng-deep td {
      text-align: right;
    }
    ::ng-deep .per {
      min-width: 100% !important;
      padding: 5px 1px !important;
      font-size: 9px !important;
  }
  }
