<app-header></app-header>
<div class="container-fluid mt-2 ">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-light" routerLink="aggregate"  routerLinkActive="active1"> Aggregate</button>
            <button class="btn btn-light"  routerLink="bysurgeon" routerLinkActive="active1">By Surgeon</button>
            <button class="btn btn-light"  routerLink="bypatient" routerLinkActive="active1">By Patient</button>
        </div>
        <div class="col-6">
            <!-- <label for="dos" class="me-3"> DOS :</label>
            <input type="date" name="" id="dos">
             <br> -->

            <label for="dropdown">Select Assesment</label>
            <select name="" id="dropdown" class="form-control w-50">
                <option value="" selected>HOOS,KOOS,PAIN</option>
                <option value="HOOS">HOOS</option>
                <option value="KOOS">KOOS</option>
                <option value="PAIN">PAIN</option>
            </select>
        </div>
    </div>
    <div class="row">
       <router-outlet></router-outlet>
    </div>
   
</div>
<app-footer></app-footer>