<app-header></app-header>
<div class="container-fluid" style="margin-top: 6rem!important;">
    <div class="row mb-2 justify-content-end d-flex">
        <div class="col-2 justify-content-end d-flex p-0 mt-1">
            <span class="">DOS :</span>
        </div>
        <div class="col-2">
            <div class="">    
                <div class="input-group date datepicker navbar-date-picker" (click)="openRange(rangeSlider)" >
                    <span class="input-group-addon input-group-prepend border-right">
                       <span class="icon-calendar input-group-text calendar-icon"></span>
                    </span>
                    <input type="text" class="form-control" style="padding-left:5px;padding-right: 5px;" value="{{'q11'}} to {{'q12'}}" >
                 </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-light" routerLink="aggregate"  routerLinkActive="active1"> Aggregate</button>
            <button class="btn btn-light"  routerLink="bysurgeon" routerLinkActive="active1">By Surgeon</button>
            <button class="btn btn-light"  routerLink="bypatient" routerLinkActive="active1">By Patient</button>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <label for="dropdown" class="m-2">Select Assesment</label>
            <ng-multiselect-dropdown #multiSelect [placeholder]="'Select Assesment'" [data]="reportMasterList" [settings]="settings"
                [disabled]="false" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" 
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
   
</div>


<ng-template #rangeSlider>
    <div class="modal-body" >
       <div class="row">
          <div class="col-lg-3 d-flex flex-column" >
             <div class="row">
                <a  class="period-dropdown py-3"  href="javascript:void(0);" >
                   <h5 class="font-weight-medium small-text mb-0" >sdsdf</h5>
                </a>
             </div>
          </div>
          <div class="col-lg-9 d-flex flex-column" >
            <div class="row flex-grow" style="overflow: hidden;" >
             <h4 style="font-weight:500;">Date of Surgery</h4>
                <!-- <ion-range-slider #sliderElement type="double" [values]="label"  [from]="fromRange" [to]="toRange" style="padding: 25px;margin-top: 2px;"></ion-range-slider> -->
               <!-- <ion-range-slider #sliderElement type="double" step="1"  [values]="Mlabel" (onFinish)="myOnChange($event)" [from]="fromRange" [to]="toRange" style="padding: 25px;margin-top: 2px;" *ngIf="baseData?.period =='M'"></ion-range-slider>
                <ion-range-slider #sliderElement type="double" [values]="Ylabel" prettify_enabled="false" (onFinish)="myOnChange($event)" [from]="fromRange" [to]="toRange" style="padding: 25px;margin-top: 2px;"*ngIf="baseData?.period =='Y'"></ion-range-slider>       -->
             </div>
             <!-- <div class="row flex-grow comparediv">
                <div style="line-height: 2.5;margin-top: -2rem;">
                   <label class="custom-control custom-radio radio radio-primary mb-2 mr-sm-2 mb-sm-0"
                     style="line-height: 1 !important;">
                     <input class="custom-control-input" name="compare" type="checkbox" (change)="checkcompare($event)" [checked]="compare">
                     <span class="custom-control-indicator"></span>
                     <span class="custom-control-description"
                       style="line-height: 1.5;margin-left: 6px">Compare</span>
                   </label>
                 </div>
                <ion-range-slider #sliderElement type="double"  step="1"  drag_interval="true" [values]="label"  [from]="fromRange1" [to]="toRange1" (onFinish)="myOnChange1($event)" style="padding: 25px;" *ngIf="baseData?.period =='Q' && compare"></ion-range-slider>
                <ion-range-slider #sliderElement type="double"  step="1" drag_interval="true" [values]="Mlabel" [from]="fromRange1" [to]="toRange1" (onFinish)="myOnChange1($event)" style="padding: 25px;" *ngIf="baseData?.period =='M' && compare"></ion-range-slider>
                <ion-range-slider #sliderElement type="double" step="1" prettify_enabled="false" drag_interval="true" [values]="Ylabel" [from]="fromRange1" [to]="toRange1" (onFinish)="myOnChange1($event)" style="padding: 25px;"*ngIf="baseData?.period =='Y' && compare"></ion-range-slider>
             </div> -->
          </div>
       </div>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-secondary btn-sm">Close</button>
       <button type="button" class="btn btn-primary btn-sm" >Apply</button>
    </div>
 </ng-template>
<app-footer></app-footer>
<a href="javascript:void(0);" (click)="scrolltoBottom()" class=" back-to-top doNotPrint" id="back-to-top" style="display: inline;background-color: #fd9903;"><i class="icon-arrow-down" style="color: black;"></i></a>
<a href="javascript:void(0);" (click)="scrolltoTop()" class="back-to-bottom doNotPrint" id="back-to-bottom" style="display: none;background-color: #fd9903;"><i class="icon-arrow-up" style="color: black;"></i></a>