    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 text-center">
                <img src="../../../assets/Images/header Logo.jpg" class="headerLogoleft" alt="">
            </div>
            <div class="col-sm-7 text-center">
                <span class="mt-5 topHeading">ABC Hospital</span> <br>
                <span class="mt-3 bottomHeading">Excellent Patient Outcomes for Joint Replacement</span>
            </div>
            <div class="col-sm-3 text-center">
                <img src="../../../assets/Images/solvedgeLogo.jpg" height="50" width="50" class="headerLogo" alt="">
            </div>
        </div>
    </div>
  
