<div class="container-fluid px-4">
  <button class="float-right backLogin"  (click)="backToLogin()"><- Back to Login</button>
  <h3 class="fw-bold text-center">Access Portal</h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
    repudiandae deleniti voluptatum libero iste atque minus ex aperiam veritatis
    quam, voluptate velit odit tenetur, nesciunt amet impedit accusamus. Id,
    vero?
  </p>
  <div class="container">
    <div>
      <div class="item">
        <h5 class="fw-bold">Presentation Mode</h5>
        <img
          src="./assets/images/hospital.jpg"
          alt=""
          (click)="mode = 'P'"
          class="w-25 mt-3 "
        />
        <div style="width: 100%; text-align: left">
          <label for="email" style="margin-bottom: 10px; font-size: 15px"
            >Select Hospital:</label
          >
          <dx-select-box
            valueExpr="rcId"
            [searchEnabled]="true"
            displayExpr="clientName"
            placeholder="Select Hospital..."
            [dataSource]="hospitalList"
            (onValueChanged)="hspchangeevent($event)"
          ></dx-select-box>
        </div>

        <button
          class="btn btn-primary"
          style="display: block"
          (click)="launch('PRESENTATION')">
          select
        </button>

      </div>
    </div>
    <div>
      <div class="item">
        <h5 class="fw-bold">Admin Mode</h5>
      <img
        src="./assets/images/admin.jpg"
        alt=""
        class="w-25 mt-3"
        id="adminmode"
      />
      <p class="text-center mt-5">An admin panel enables administrators</p>
      <button
        class="btn btn-primary"
        style="display: block"
        (click)="launch('ADMIN')"
      >
        select
      </button>
      </div>
    </div>
    </div>

</div>

