<div class="container1">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title pull-left">Select Mode to Enter</h4>
        </div>
        <div class="card-body">
            <div  *ngIf="mode == 'A'">
                <div class="row row-xs">
                    <div class="col-md-6 text-center mt-5 mb-3 cur-pointer" >
                        <img src="./assets/images/presentation.png" alt="" (click)="mode = 'P'" class="w-70" />
                        <h6>Presentation Mode</h6>
                    </div>
                    <div class="col-md-6 text-center mt-5 mb-3 cur-pointer">
                        <img src="./assets/images/adminmode.svg" alt="" class="w-70" id="adminmode" (click)="launch('ADMIN')" />
                        <h6>Admin Mode</h6>
                    </div>
                    
                </div>
            </div>
    
            <!-- if presentation mode selects this div will open for selecting hospital  -->
             <div *ngIf="mode == 'P'">
                <div class="row row-xs">
                    <div class="col-sm text-center mt-5 mb-3">
                        <img src="./assets/images/presentation.png" alt="" class="w-70" />
                        <h6>Presentation Mode</h6>
                    </div>
                    <div class="col-sm mt-5 mb-5 text-center">
                        <div>
                            <div style="width: 100%;text-align: left;">
                                <label for="email" style="margin-bottom: 10px;">Select Hospital:</label>
                                <dx-select-box valueExpr="rcId" [searchEnabled]="true"  displayExpr="clientName"
                                 placeholder="Select Hospital..." [dataSource]="hospitalList"
                                     (onValueChanged)="hspchangeevent($event)"></dx-select-box>
                                     <!-- [value]="sosSelectedItems" -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm lan-class pull-right">
                    <span class="m-r-3">
                        <button class="btn btn-sm btn-primary"  (click)="launch('PRESENTATION')">
                            Launch</button>
                    </span>
                    <span>
                        <button class="btn btn-sm btn-secondary" (click)="mode = 'A'" tabindex="0">Cancel</button>
                    </span>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
