body{
    height: 100vh;
    position: relative;
    width: 100%;
    
}
.container-fluid{
  height: 100vh;
  align-items: center;
  background-color:  hsl(60deg 10% 96.08%);
  justify-content: center;
  position: relative;
  display: flex;
}
.backToLogin{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffb500;
  border: none;
  color: black;
  padding: 7px;
  border-radius: 5px;
  font-size: 13px;

}
.container_card{
  
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerCard{
 display: flex; 
 gap: 50px;
 position: relative
}
.card{
  height: 75vh;
  width: 20vw;
  padding: 30px;
  position: relative;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-primary{
  position: absolute;
  left: 30%;
  background-color: #ffb500;
  bottom: 20px;
  border: none;
  outline: none;
  width: 100px;
  font-size: 15px;
  color: black;
}
.btn-primary:hover{
  background-color:#e0a000f0 ;

}
.cardImg{
  height: 100px;
  width: 50%;
  left: 25%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.item1{
  background-color: red;
  position: relative;
  height:auto;
  overflow-y: hidden;
}
