<div>
    <div class="row">
        <div class="col-10">
            <router-outlet name="rec"></router-outlet>
            <router-outlet name="long"></router-outlet>
        </div>
        <div class="col-2 text-center" style="margin-top:60px ;">
            <img src="../../../../assets/Images/header Logo.jpg" alt="" style="border-radius: 50%;height: 25%; border: 5px solid grey; margin-bottom: -50px;">
            <img src="../../../../assets/Images/header Logo.jpg" alt="" style="border-radius: 50%;height: 25%; border: 5px solid rgb(247, 150, 4); z-index: 10;position: relative;">
            <img src="../../../../assets/Images/header Logo.jpg" alt="" style="border-radius: 50%;height: 25%; border: 5px solid grey; margin-top: -50px;">
        </div>
    </div>
</div>