<div class="style">
    <div class="row">
        <div class="col-2">
            <img src="../assets/Images/header Logo.jpg" height="75" width="75">
        </div>
        <div class="col-5">
            <span style="font-weight: bold; font-size: x-large; color: grey;">Mr. George McCellan</span> <br>
            <span style="font-weight: bold;font-size: large; color: #f8a62b;">Total Knee Replacement</span>
        </div>
        <div class="col-5">
            <div class="row mb-2" >
                <span class="col-6" style="font-weight: bolder;">Surgeon Name  </span>
                <span class="col-6">: Robert Peterson</span>
            </div>
            <div class="row mb-2" >
                <span class="col-6" style="font-weight: bolder;">DOS  </span>
                <span class="col-6">: 08-21-2022</span>
            </div>
            <div class="row mb-2" >
                <span class="col-6" style="font-weight: bolder;">Body Part </span>
                <span class="col-6"> : Knee</span>
            </div>
        </div>
    </div>
</div>