<button class="button mb-2">Recovery</button>

<div class="card">
    <div class="row text-center p-2">
        <div class="col-4" style="font-weight: bold;">HOOS</div>
        <div class="col-4" style="font-weight: bold;">KOOS</div>
        <div class="col-4" style="font-weight: bold;">PAIN</div>
    </div>
    <div class="row p-2">
        <app-hoos-rec class="col-4"></app-hoos-rec>
        <app-koos-rec class="col-4"></app-koos-rec>
        <app-pain-rec class="col-4"></app-pain-rec>
    </div>
</div>
