<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 text-center">
            <img src="../../../assets/Images/header Logo.jpg" class="headerLogoleft" alt="">
        </div>
        <div class="col-sm-8 text-start">
            <span class="mt-5 topHeading">ABC Hospital</span> <br>
            <span class="mt-3 bottomHeading">Excellent Patient Outcomes for Joint Replacement</span>
        </div>
        <div class="col-sm-3 ">
            <div class="dropdown ends" >
                <div class="btn dropdown-toggle rounded-circle" type="button" data-toggle="dropdown" aria-expanded="false">
                 <img class="img-fluid img-thumbnail rounded-circle" src="../../../../../assets/images/profile.jpg" height="50" width="50" alt="">
                </div>
                <div class="dropdown-menu">
                  <a class="dropdown-item p-2" routerLink="/login">Profile</a>
                  <a class="dropdown-item p-2" routerLink="/switchMode">Switch mode</a>
                  <a class="dropdown-item p-2" routerLink="/login" (click)="clearSession()">Logout</a>
                </div>
              </div>
        </div>
    </div>
</div>


