.container-fluid {

    border-bottom: 1px solid grey;
    position: fixed;
    z-index: 9999;
    background: white;
    top: 0;
}

@media only screen and (max-width: 1365px) {
    .container-fluid {
        height: auto;
    }
}

.headerLogo {
    height: 57px;
    width: 60%;
}

.headerLogoleft {
    height: 80px;
    position: relative;
}

.topHeading {
    font-weight: 700;
    font-size: 24px;

}

.bottomHeading {
    font-weight: 500;
    font-size: 20px;
    color: #fd9903;
}
.ends{
    display: flex;
    justify-content: end;
    padding: 0;
    margin-top: 13px;
}
